a {
	color: #cccccc;
}
#HeadMenu ul li {
	border-right: #242475;
}
#messageContainer {
	color: #12123b;
}
#messageContainer a {
	color: #12123b;
}
body {
	background-color: #12123b;
	color: #cccccc;
}
.ImageResultContainer {
	background-color: #242475;
}
tr:nth-child(odd) {
	background-color: #2f2f91
}
h1, h2, h3, h4 {
	border-bottom-color: #cccccc;
}
input {
	background-color: #cccccc;
}