a {
	color: #cccccc;
}
#HeadMenu ul li {
	border-right: #242475;
}
body {
	background-color: #12123b;
	color: #cccccc;
}
.ImageResultContainer {
	background-color: #242475;
}
tr:nth-child(odd) {
	background-color: #2f2f91
}