{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				<form action="/collections" method="get">
					<input type="text" name="SearchTerms" placeholder="Search Collections" value="{{.OldQuery}}">
					<input type="submit" value="Search Collections">
				</form>
				{{template "mainSearchForm.html" .}}
				{{if eq .ViewMode "stream"}}
				<a href="/images?SearchTerms={{.OldQuery}}&ViewMode=grid">
					Grid View
				</a>
				{{else}}
				<a href="/images?SearchTerms={{.OldQuery}}&ViewMode=stream">
					Stream View
				</a>
				{{end}}				
				
				{{$CanModifyCollection := .UserPermissions.HasPermission 4096}}
				{{$CanDeleteCollection := .UserPermissions.HasPermission 8192}}
				{{$CanRemoveFromCollection:= .UserPermissions.HasPermission 16384}}
				{{$CollectionID := .CollectionInfo.ID}}

				{{$IsOwn := eq .ImageContentInfo.UploaderID .UserInformation.ID}}
				{{$CanModifyOwn := and .UserControlsOwn $IsOwn}}
				{{$UserNotNull := ne .UserInformation.Name ""}}

				{{$HasDeletePermissions := or $CanDeleteCollection $CanModifyOwn}}
				{{$HasRemoveFromPermissions := or $CanRemoveFromCollection $CanModifyOwn}}
				{{$HasModifyPermissions := or $CanModifyCollection $CanModifyOwn}}

				{{$OldQuery := .OldQuery}}
				<h5>Commands</h5>
				{{if and $UserNotNull $HasDeletePermissions}}
				<a href="/collections?command=delete&ID={{.CollectionInfo.ID}}&SearchTerms={{.OldQuery}}" onclick="return confirm('Are you sure you want to delete this collection?');">Delete Collection</a>
				<a href="/collections?command=deleteandmembers&ID={{.CollectionInfo.ID}}&SearchTerms={{.OldQuery}}" onclick="return confirm('Are you sure you want to delete this collection AND its members?');">and Members</a>
				{{end}}
				{{if and $UserNotNull $HasRemoveFromPermissions}}
				<br><a href="/collectionorder?ID={{$CollectionID}}&SearchTerms={{$OldQuery}}">Reorder Members</a>
				{{end}}
				{{if and $UserNotNull $HasModifyPermissions}}
				<br><a href="#" onclick="return ToggleFormDisplay('changeNameForm');">Modify Collection</a>
				<form action="/collectionimages" method="POST" id="changeNameForm" class="displayHidden">
					<h5>Modify Collection</h5>
					<input type="text" name="NewName" placeholder="New Name" value="{{.CollectionInfo.Name}}">
					<input type="text" name="NewDescription" placeholder="New Description" value="{{.CollectionInfo.Description}}">
					<input type="hidden" name="ID" value="{{.CollectionInfo.ID}}">
					<input type="hidden" name="command" value="modify" />
					<input type="submit" value="Change">
				</form>
				{{end}}
				<h5>Description</h5>
				{{.CollectionInfo.Description}}
				<h5>Associated Tags <a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a></h5>
				<ul>
					{{range .Tags}}
					<li>{{.Name}}</li>
					{{end}}
				</ul>
			</div>
			<div id="ImageGridContainer">
				<div id="collectionTitle">
					<h3>{{.CollectionInfo.Name}}</h3>
				</div>
				{{$OldQuery := .OldQuery}}
				{{$StreamView := eq .ViewMode "stream"}}
				{{range .ImageInfo}}
				{{if $StreamView}}
					<div class="Full ImageResultContainer">
						{{.Location | getEmbed}}
						<a href="/image?ID={{.ID}}&SearchTerms={{$OldQuery}}">
							Go to this post
						</a>
						{{if and $UserNotNull $HasRemoveFromPermissions}}
						<form action="/collectionimages" method="POST">
							<input type="hidden" name="command" value="delete" />
							<input type="hidden" name="ID" value="{{$CollectionID}}" />
							<input type="hidden" name="ImageID" value="{{.ID}}" />
							<input type="hidden" name="SearchTerms" value="{{$OldQuery}}" />
							<button type="submit" class="removeCollectionButton" onclick="return confirm('Are you sure you want to remove this from the collection?');"><span></span></button>
						</form>
						{{end}}
					</div>
					{{else}}
					<div class="ImageResultContainer">
						<a href="/image?ID={{.ID}}&SearchTerms={{$OldQuery}}">
							<img alt="Preview image of {{.Name}}" title="{{.Name}}" src="/thumbs/{{.Location}}" />
							<div class="imageResultOverlay overlay{{.Location | getimagetype}}"></div>
						</a>
						{{if and $UserNotNull $HasRemoveFromPermissions}}
						<form action="/collectionimages" method="POST">
							<input type="hidden" name="command" value="delete" />
							<input type="hidden" name="ID" value="{{$CollectionID}}" />
							<input type="hidden" name="ImageID" value="{{.ID}}" />
							<input type="hidden" name="SearchTerms" value="{{$OldQuery}}" />
							<button type="submit" class="removeCollectionButton" onclick="return confirm('Are you sure you want to remove this from the collection?');"><span></span></button>
						</form>
						{{end}}
					</div>
					{{end}}
				{{end}}
			</div>
		</div>
		<div id="PageMenu">
			{{.PageMenu}}<br>
			<span id="ImageCount">{{.TotalResults}} Images!</span>
		</div>
{{template "footer.html" .}}