		<div id="messageContainer" class="display{{if or .Message .HTMLMessage}}Block{{else}}Hidden{{end}}">
			{{if .Message}}{{.Message}}<br>{{end}}
			{{if .HTMLMessage}}{{.HTMLMessage}}<br>{{end}}
			<a href="javascript:ToggleDIVDisplay('messageContainer');">Click here</a> to close this message.
		</div>
		<div id="CellMenuButton" onclick="ToggleCellDIVDisplay('HeadMenu'); ToggleCellDIVDisplay('SideMenu');"><img src="/resources/hamburgmenu.svg" alt="Show Menu" /></div>
		<div id="HeadMenu" class="cellDefaultHidden">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/images">Images</a></li>
				{{if ne .UserName ""}}{{if .UserPermissions.HasPermission 16}}<li><a href="/uploadImage">Upload</a></li>{{end}}{{end}}
				{{if ne .UserName ""}}<li><a href="/images?SearchTerms=uploader:{{.UserName}}">My Images</a></li>{{end}}
				<li><a href="/collections">Collections</a></li>
				<li><a href="/tags">Tags</a></li>
				{{if eq .UserName ""}}
				<li><a href="/logon">Login</li></a>
				{{else}}
				<li><a href="/logon">Account</li></a>
				{{end}}
				<li><a href="/about/about.html">About</li></a>
				{{$EditPermissions := .UserPermissions.HasPermission 128}}
				{{$DisableAccount := .UserPermissions.HasPermission 64}}
				{{if or $EditPermissions $DisableAccount}}
				<li><a href="/mod">Moderator</li></a>
				{{end}}
			</ul>
		</div>