{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				<form action="/images" method="post">
					<input type="text" name="SearchTerms" placeholder="Search" value="{{.OldQuery}}">
					<input type="submit" value="Go">
				</form>
				<ul>
				{{$OldQuery := .OldQuery}}
				{{if .Tags}}
				<li><h5>Tags</h5></li>
				{{range .Tags}}
					{{if eq .FromUserFilter false}}
					{{if .Exists}}
				<li>{{if .Exclude}} - {{end}}{{.Name}} {{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
					{{end}}
				{{end}}
				<li><h6>Filter Tags</h6></li>
				{{range .Tags}}
					{{if .FromUserFilter}}
					{{if .Exists}}
				<li>{{if .Exclude}} - {{end}}{{.Name}} {{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
					{{end}}
				{{end}}
				<li><h5>Invalid Tags</h5></li>
				{{range .Tags}}
					{{if eq .Exists false}}
				<li>{{if .Exclude}} - {{end}}{{.Name}}</li>
					{{end}}
				{{end}}
				{{end}}
				</ul>
			</div>
			<div id="ImageGridContainer">
				{{$OldQuery := .OldQuery}}
				{{range .ImageInfo}}
					<div class="ImageResultContainer"><a href="/image?ID={{.ID}}&SearchTerms={{$OldQuery}}"><img alt="Preview image of {{.Name}}" title="{{.Name}}" src="/thumbs/{{.Location}}" /></a></div>
				{{end}}
			</div>
		</div>
		<div id="PageMenu">
			{{.PageMenu}}<br>
			<span id="ImageCount">{{.TotalResults}} Images!</span>
		</div>
{{template "footer.html" .}}