{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}
				{{if .StreamView}}
				<a href="/images?SearchTerms={{.OldQuery}}&StreamViewPreference=false">
					Grid View
				</a>
				{{else}}
				<a href="/images?SearchTerms={{.OldQuery}}&StreamViewPreference=true">
					Stream View
				</a>
				{{end}}
				<ul>
				{{$OldQuery := .OldQuery}}
				{{if .Tags}}
				<li><h5>Tags</h5></li>
				{{range .Tags}}
					{{if eq .FromUserFilter false}}
					{{if .Exists}}
				<li>{{if .Exclude}} - {{end}}{{.Name}} {{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
					{{end}}
				{{end}}
				<li><h6>Filter Tags</h6></li>
				{{range .Tags}}
					{{if .FromUserFilter}}
					{{if .Exists}}
				<li>{{if .Exclude}} - {{end}}{{.Name}} {{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
					{{end}}
				{{end}}
				<li><h5>Invalid Tags</h5></li>
				{{range .Tags}}
					{{if eq .Exists false}}
				<li>{{if .Exclude}} - {{end}}{{.Name}}</li>
					{{end}}
				{{end}}
				{{end}}
				</ul>
			</div>
			<div id="ImageGridContainer">
				{{$OldQuery := .OldQuery}}
				{{$StreamView := .StreamView}}
				{{range .ImageInfo}}
					{{if $StreamView}}
					<div class="Full ImageResultContainer">
						{{.Location | getEmbed}}
						<a href="/image?ID={{.ID}}&SearchTerms={{$OldQuery}}">
							Go to this post
						</a>
					</div>
					{{else}}
					<div class="ImageResultContainer"><a href="/image?ID={{.ID}}&SearchTerms={{$OldQuery}}"><img alt="Preview image of {{.Name}}" title="{{.Name}}" src="/thumbs/{{.Location}}" /><div class="imageResultOverlay overlay{{.Location | getimagetype}}"></div></a></div>
					{{end}}
				{{end}}
			</div>
		</div>
		<div id="PageMenu">
			{{.PageMenu}}<br>
			<span id="ImageCount">{{.TotalResults}} Images!</span>
		</div>
{{template "footer.html" .}}