{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}

				{{$OldQuery := .OldQuery}}
				{{$ImageID := .ImageContentInfo.ID}}
				{{$CanModifyTags := .UserPermissions.HasPermission 1}}
				{{$CanDeleteImage := .UserPermissions.HasPermission 32}}
				{{$CanVoteImage := .UserPermissions.HasPermission 512}}
				{{$CanSourceImage := .UserPermissions.HasPermission 1024}}
				{{$CanCreateCollection := .UserPermissions.HasPermission 2048}}
				{{$CanModifyCollectionMembers := .UserPermissions.HasPermission 16384}}
				{{$IsOwn := eq .ImageContentInfo.UploaderID .UserID}}
				{{$CanModifyOwn := and .UserControlsOwn $IsOwn}}
				{{$UserNotNull := ne .UserName ""}}
				{{$HasTagPermissions := or $CanModifyTags $CanModifyOwn}}
				{{$HasDeletePermissions := or $CanDeleteImage $CanModifyOwn}}
				{{$HasVotePermissions := or $CanVoteImage $CanModifyOwn}}
				{{$HasSourcePermissions := or $CanSourceImage $CanModifyOwn}}

				<h5>Collections{{if or $CanCreateCollection $CanModifyCollectionMembers}}{{if $UserNotNull}} (<a href="#" onclick="return ToggleFormDisplay('addCollectionForm');">add</a>){{end}}{{end}}</h5>
				<ul class="CollectionList">
					{{range .ImageContentInfo.MemberCollections}}
					<li>{{if ne .PreviousMemberID 0}}<a href="/image?ID={{.PreviousMemberID}}&SearchTerms={{$OldQuery}}"><div class="previousInCollection">&lt;</div></a>{{end}} <a href="/collectionimages?ID={{.ID}}">{{.Name}}</a><br>({{.OrderInCollection | inc}}/{{.Members}}) {{if ne .NextMemberID 0}}<a href="/image?ID={{.NextMemberID}}&SearchTerms={{$OldQuery}}"><div class="nextInCollection">&gt;</div></a>{{end}} </li>
					{{end}}
				</ul>
				<form action="/collectionimages" method="POST" id="addCollectionForm" class="displayHidden">
					<h5 id="addCollectionFormTitle">Add to Collection</h5>
					<input type="text" name="CollectionName" placeholder="Collection Name" value="" oninput="CheckCollectionName(this.parentNode,'addCollectionFormTitle')" >
					<input type="hidden" name="ImageID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="addcollectionmember" />
					<input type="submit" value="Add/Create">
				</form>

				<h5>Tags{{if and $UserNotNull $HasTagPermissions}} (<a href="#" onclick="return ToggleFormDisplay('addTagForm');">add</a>){{end}}</h5>
				<form action="/tag" method="POST" id="addTagForm" class="displayHidden">
					<h5>Add Tag</h5>
					<input type="text" name="NewTags" placeholder="New Tags" value="">
					<input type="hidden" name="ImageID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="AddTags" />
					<input type="submit" value="Add">
				</form>
				<ul>
					{{range .Tags}}
					<li>{{.Name}} {{if $CanModifyTags}}<a href="/tag?ID={{.ID}}&command=remove&ImageID={{$ImageID}}&SearchTerms={{$OldQuery}}" onclick="return confirm('Are you sure you want to remove this tag from this image?');">-</a> {{end}}{{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
				</ul>
				<h5>Rating{{if and $UserNotNull $HasTagPermissions}} (<a href="#" onclick="return ToggleFormDisplay('changeRatingForm');">edit</a>){{end}}</h5>
				<form action="/tag" method="POST" id="changeRatingForm" class="displayHidden">
					<h5>Change Rating <a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a></h5>
					<input type="text" name="NewRating" placeholder="New Rating" value="{{.ImageContentInfo.Rating}}">
					<input type="hidden" name="ImageID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeRating" />
					<input type="submit" value="Change">
				</form>
				{{.ImageContentInfo.Rating}} <a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>
				<h5>Source{{if and $UserNotNull $HasSourcePermissions}} (<a href="#" onclick="return ToggleFormDisplay('changeSourceForm');">edit</a>){{end}}</h5>
				<form action="/image" method="GET" id="changeSourceForm" class="displayHidden">
					<input type="text" name="NewSource" placeholder="Source" value="{{.ImageContentInfo.Source}}">
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeSource" />
					<input type="submit" value="Change Source">
				</form>
				{{if .ImageContentInfo.SourceIsURL}}
				<a href="/redirect?RedirectLink={{.ImageContentInfo.Source}}">Source URL</a>
				{{else}}
				{{.ImageContentInfo.Source}}
				{{end}}
				<h5>Score{{if $HasVotePermissions}} (<a href="#" onclick="return ToggleFormDisplay('changeVoteForm');">vote</a>){{end}}</h5>
				<form action="/image" method="GET" id="changeVoteForm" class="displayHidden">
					<input type="number" name="NewVote" placeholder="New Vote" value="{{.ImageContentInfo.UsersVotedScore}}" min="-10" max="10">
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeVote" />
					<input type="submit" value="Score">
				</form>
				<ul>
					<li>Average: {{.ImageContentInfo.ScoreAverage}}</li>
					<li>Total: {{.ImageContentInfo.ScoreTotal}}</li>
					<li>Voters: {{.ImageContentInfo.ScoreVoters}}</li>
					{{if eq $HasVotePermissions false}}{{if $UserNotNull}}<li>Your Score: {{.ImageContentInfo.UsersVotedScore}}</li>{{end}}{{end}}
				</ul>
				<h5>Uploaded</h5>
				{{.ImageContentInfo.UploadTime.Format "Jan 02, 2006 15:04:05 UTC"}}
				<h5>Uploader</h5>
				<a href="/images?SearchTerms=uploader:{{.ImageContentInfo.UploaderName}}">{{.ImageContentInfo.UploaderName}}</a>
				{{if and $UserNotNull $HasDeletePermissions}}
				<br><br><a href="/images?command=delete&ID={{$ImageID}}&SearchTerms={{.OldQuery}}" onclick="return confirm('Are you sure you want to delete this image?');">Delete Image</a>
				{{end}}
			</div>
			<div id="ImageGridContainer" style="text-align: center;">
				{{$type := .ImageContentInfo.Location | getimagetype}}
				<h4>{{.ImageContentInfo.Name}} {{if and $UserNotNull $HasSourcePermissions}} (<a href="#" onclick="return ToggleFormDisplay('changeNameForm');">edit</a>){{end}}</h4>
				<div class="form card displayHidden" id="changeNameForm">
					<form action="/image" method="POST">
						<label>Name</label>
						<input type="text" name="NewName" placeholder="New Name" value="{{.ImageContentInfo.Name}}">
						<label>Description</label>
						<textarea name="NewDescription" style="width:100%">{{.ImageContentInfo.Description}}</textarea>
						<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
						<input type="hidden" name="command" value="ChangeName" />
						<input type="submit" value="Submit">
					</form>
				</div>
				{{.ImageContent}}
				{{if eq $type "image"}}
					<a onclick="return ExpandImage();" class="cellDefaultHidden" style="cursor:pointer;">&#8597;</a>
				{{end}}
				{{if .ImageContentInfo.Location}}
					<div id="downloadButton"><a href="/images/{{.ImageContentInfo.Location}}">Download</a></div>
				{{end}}
				{{if .ImageContentInfo.Description}}<div class="card">{{.ImageContentInfo.Description}}</h4>{{end}}
			</div>
		</div>
{{template "footer.html" .}}
