{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}
				{{$CSRF := .CSRF}}
				{{$OldQuery := .OldQuery}}
				{{$ImageID := .ImageContentInfo.ID}}
				{{$CanModifyTags := .UserPermissions.HasPermission 1}}
				{{$CanDeleteImage := .UserPermissions.HasPermission 32}}
				{{$CanVoteImage := .UserPermissions.HasPermission 512}}
				{{$CanSourceImage := .UserPermissions.HasPermission 1024}}
				{{$CanCreateCollection := .UserPermissions.HasPermission 2048}}
				{{$CanModifyCollectionMembers := .UserPermissions.HasPermission 16384}}
				{{$IsOwn := eq .ImageContentInfo.UploaderID .UserInformation.ID}}
				{{$CanModifyOwn := and .UserControlsOwn $IsOwn}}
				{{$UserNotNull := ne .UserInformation.Name ""}}
				{{$HasTagPermissions := or $CanModifyTags $CanModifyOwn}}
				{{$HasDeletePermissions := or $CanDeleteImage $CanModifyOwn}}
				{{$HasVotePermissions := or $CanVoteImage $CanModifyOwn}}
				{{$HasSourcePermissions := or $CanSourceImage $CanModifyOwn}}

				<h5>Collections{{if or $CanCreateCollection $CanModifyCollectionMembers}}{{if $UserNotNull}} (<a href="#" onclick="ToggleFormDisplay('addCollectionForm'); $('#addCollectionForm input[name=CollectionName]:first').select(); return false;">add</a>){{end}}{{end}}</h5>
				<ul class="CollectionList">
					{{range .ImageContentInfo.MemberCollections}}
					<li>{{if ne .PreviousMemberID 0}}<a href="/image?ID={{.PreviousMemberID}}&SearchTerms={{$OldQuery}}"><div class="previousInCollection">&lt;</div></a>{{end}} <a href="/collection?ID={{.ID}}">{{.Name}}</a><br>({{.OrderInCollection | inc}}/{{.Members}}) {{if ne .NextMemberID 0}}<a href="/image?ID={{.NextMemberID}}&SearchTerms={{$OldQuery}}"><div class="nextInCollection">&gt;</div></a>{{end}} </li>
					{{end}}
				</ul>
				<form action="/collection" method="POST" id="addCollectionForm" class="displayHidden">
					<h5 id="addCollectionFormTitle">Add to Collection</h5>
					<input type="text" name="CollectionName" placeholder="Collection Name" value="" oninput="CheckCollectionName(this.parentNode,'addCollectionFormTitle')" >
					<input type="hidden" name="ImageID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="addcollectionmember" />
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					{{.CSRF}}
					<input type="submit" value="Add/Create">
				</form>

				<h5>Tags{{if and $UserNotNull $HasTagPermissions}} (<a href="#" onclick="ToggleFormDisplay('addTagForm'); $('#AddNewTags').select(); return false;">add</a>){{end}}</h5>
				<form action="/image" method="POST" id="addTagForm" class="displayHidden">
					<h5>Add Tag</h5>
					<input type="text" name="NewTags" placeholder="New Tags" id="AddNewTags" value=""> 
					<div id="acAddNewTags"></div>
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="AddTags" />
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					{{.CSRF}}
					<input type="submit" value="Add">
					<script>
						var AddNewTagsAC = new AutoCompleteBox(document.getElementById("AddNewTags"), document.getElementById("acAddNewTags"));
					</script>
				</form>
				<ul>
					{{range .Tags}}
					<li>{{.Name}} {{if $CanModifyTags}}<form action="/image" method="POST" class="anchorform">
															{{$CSRF}}
															<input type="hidden" name="ID" value="{{$ImageID}}">
															<input type="hidden" name="command" value="RemoveTag">
															<input type="hidden" name="TagID" value="{{.ID}}">
															<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
															<button type="submit" class="buttonasanchor" onclick="return confirm('Are you sure you want to remove this tag from this image?');">-</button>
														</form>{{end}}{{if ne .ID 0}}<a href="/tag?ID={{.ID}}&SearchTerms={{$OldQuery}}">?</a>{{else}}<a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>{{end}}</li>
					{{end}}
				</ul>
				<h5>Rating{{if and $UserNotNull $HasTagPermissions}} (<a href="#" onclick="ToggleFormDisplay('changeRatingForm'); $('#changeRatingForm input[name=NewRating]:first').select(); return false;">edit</a>){{end}}</h5>
				<form action="/image" method="POST" id="changeRatingForm" class="displayHidden">
					<h5>Change Rating <a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a></h5>
					<input type="text" name="NewRating" placeholder="New Rating" value="{{.ImageContentInfo.Rating}}">
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeRating" />
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					{{.CSRF}}
					<input type="submit" value="Change">
				</form>
				{{.ImageContentInfo.Rating}} <a href="/about/tags.html?SearchTerms={{$OldQuery}}">?</a>
				<h5>Source{{if and $UserNotNull $HasSourcePermissions}} (<a href="#" onclick="ToggleFormDisplay('changeSourceForm');$('#changeSourceForm input[name=NewSource]:first').select(); return false;">edit</a>){{end}}</h5>
				<form action="/image" method="POST" id="changeSourceForm" class="displayHidden">
					<input type="text" name="NewSource" placeholder="Source" value="{{.ImageContentInfo.Source}}">
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeSource" />
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					<input type="submit" value="Change Source">
				</form>
				{{if .ImageContentInfo.SourceIsURL}}
				<form action="/redirect" method="POST">
					<input type="hidden" name="RedirectLink" value="{{.ImageContentInfo.Source}}">
					{{.CSRF}}
					<input type="submit" value="Source URL" title="{{.ImageContentInfo.Source}}">
				</form>
				{{else}}
				{{.ImageContentInfo.Source}}
				{{end}}
				<h5>Score{{if $HasVotePermissions}} (<a href="#" onclick="ToggleFormDisplay('changeVoteForm'); $('#changeVoteForm input[name=NewVote]:first').select(); return false;">vote</a>){{end}}</h5>
				<form action="/image" method="POST" id="changeVoteForm" class="displayHidden">
					<input type="number" name="NewVote" placeholder="New Vote" value="{{.ImageContentInfo.UsersVotedScore}}" min="-10" max="10">
					<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
					<input type="hidden" name="command" value="ChangeVote" />
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					<input type="submit" value="Score">
				</form>
				<ul>
					<li>Average: {{.ImageContentInfo.ScoreAverage}}</li>
					<li>Total: {{.ImageContentInfo.ScoreTotal}}</li>
					<li>Voters: {{.ImageContentInfo.ScoreVoters}}</li>
					{{if eq $HasVotePermissions false}}{{if $UserNotNull}}<li>Your Score: {{.ImageContentInfo.UsersVotedScore}}</li>{{end}}{{end}}
				</ul>
				<h5>Uploaded</h5>
				{{.ImageContentInfo.UploadTime.Format "Jan 02, 2006 15:04:05 UTC"}}
				<h5>Uploader</h5>
				<a href="/images?SearchTerms=uploader:{{.ImageContentInfo.UploaderName}}">{{.ImageContentInfo.UploaderName}}</a>
				{{if gt .SimilarCount 0}}
				<h5>Similar</h5>
				There are {{.SimilarCount}} <a href="/images?SearchTerms=similar:{{.ImageContentInfo.ID}}">similar images</a> to this.
				{{end}}
				{{if and $UserNotNull $HasDeletePermissions}}
				<br><br>
				<form action="/image" method="POST" class="anchorform">
					{{.CSRF}}
					<input type="hidden" name="ID" value="{{$ImageID}}">
					<input type="hidden" name="command" value="delete">
					<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
					<button type="submit" class="buttonasanchor" onclick="return confirm('Are you sure you want to delete this image?');">Delete Image</button>
				</form>
				{{end}}
			</div>
			<div id="ImageGridContainer" style="text-align: center;">
				{{$type := .ImageContentInfo.Location | getimagetype}}
				<h4>{{.ImageContentInfo.Name}} {{if and $UserNotNull $HasSourcePermissions}} (<a href="#" onclick="return ToggleFormDisplay('changeNameForm');">edit</a>){{end}}</h4>
				<div class="form card displayHidden" id="changeNameForm">
					<form action="/image" method="POST">
						<label>Name</label>
						<input type="text" name="NewName" placeholder="New Name" value="{{.ImageContentInfo.Name}}">
						<label>Description</label>
						<textarea name="NewDescription" style="width:100%">{{.ImageContentInfo.Description}}</textarea>
						<input type="hidden" name="ID" value="{{.ImageContentInfo.ID}}">
						<input type="hidden" name="command" value="ChangeName" />
						<input type="hidden" name="SearchTerms" value="{{$OldQuery}}">
						{{.CSRF}}
						<input type="submit" value="Submit">
					</form>
				</div>
				{{.ImageContent}}
				{{if eq $type "image"}}
					<a onclick="return ExpandImage();" class="cellDefaultHidden" style="cursor:pointer;">&#8597;</a>
					<script>
						function OnLoadCorrectImage() {
							if (document.getElementById("IMGContent")) {
								CorrectImageOrient("IMGContent");
							}
						}
						window.addEventListener('load', OnLoadCorrectImage);
					</script>
				{{end}}
				{{if .ImageContentInfo.Location}}
					<div id="downloadButton"><a href="/images/{{.ImageContentInfo.Location}}">Download</a></div>
				{{end}}
				{{if .ImageContentInfo.Description}}
					<div class="card" style="padding-bottom:0px;">
						<div class="closedDescriptionBox" id="imageDescriptionBox">{{.ImageContentInfo.Description}}</div>
						<div class="cardExpander"><a href="#" onclick="return toggleCSSClass('imageDescriptionBox', 'closedDescriptionBox');">...</a></div>
					</div>
				{{end}}
			</div>
		</div>
{{template "footer.html" .}}
