{{template "header.html" .}}
{{$EditPermissions := .UserPermissions.HasPermission 128}}
{{$DisableAccount := .UserPermissions.HasPermission 64}}
	<body {{if or $EditPermissions $DisableAccount}}onload="SearchUsers('searchUserForm', 0);"{{end}}>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}
			</div>
			<div id="ImageGridContainer">
				<div class="narrowCenteredContainer">
					{{if or $EditPermissions $DisableAccount}}
						<h3>Search for a user</h3>
						<form method="get" action="#" onsubmit="return SearchUsers('searchUserForm', 0);" id="searchUserForm">
							<label>UserName</label>
							<input type="text" name="userName" value="" placeholder="User Name"/><br>
							<input type="submit" value="Search" />
							<h5>Results</h5>
							<table id="userResultTable">
								<tr>
									<th>Name</th>
									<th>ID</th>
									<th>Permissions</th>
									<th>Disabled</th>
									<th>Created</th>
								</tr>
							</table>
							<div id="userResultPageMenu" style="text-align: center;"></div>
							<div id="userResultCount" style="text-align: center;"></div>
						</form>
					{{else}}
					<p>This page is for moderators.</p>
					{{end}}
				</div>
			</div>
		</div>
{{template "footer.html" .}}