{{template "header.html" .}}
{{$EditPermissions := .UserPermissions.HasPermission 128}}
{{$DisableAccount := .UserPermissions.HasPermission 64}}
	<body {{if or $EditPermissions $DisableAccount}}onload="SearchUsers('searchUserForm', 0);"{{end}}>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}
			</div>
			<div id="ImageGridContainer">
				<div class="narrowCenteredContainer">
					{{if or $EditPermissions $DisableAccount}}
						<h2>Edit user {{.ModUserData.Name}}</h2>
						{{if $DisableAccount}}
						<h4>Enable/Disable User</h4>
						<form method="post" action="/mod/user" id="disableForm">
							{{.CSRF}}
							<label><input type="radio" name="isDisabled" value="true" {{if .ModUserData.Disabled}}checked{{end}}/>Disabled</label><br>
							<label><input type="radio" name="isDisabled" value="false" {{if .ModUserData.Disabled}}{{else}}checked{{end}}/>Enabled</label><br>
							<input type="hidden" name="userName" value="{{.ModUserData.Name}}"/>
							<input type="hidden" name="command" value="disableUser" />
							<input type="submit" value="Set" />
						</form>
						{{end}}
						{{if $EditPermissions}}
						<h4>Edit Permissions</h4>
						<form method="post" action="/mod/user" id="editPermissionForm">
							{{.CSRF}}
							<input type="hidden" name="userName" value="{{.ModUserData.Name}}"/>
							<label>Permissions</label>
							<input type="number" name="permissions" value="{{.ModUserData.Permissions}}" placeholder="Permissions"/><br>
							<table>
								<tr>
									<th>Set</th>
									<th>Description</th>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="1" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 1}}checked{{end}}></label></td>
									<td>Allows a user to add and remove tags to/from an image, but not create or delete tags themselves</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="2" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 2}}checked{{end}}></label></td>
									<td>Allows a user to add a new tag to the system (But not delete)</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="4" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 4}}checked{{end}}></label></td>
									<td>Allows a user to modify a tag from the system</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="8" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 8}}checked{{end}}></label></td>
									<td>Allows a user to remove a tag from the system</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="16" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 16}}checked{{end}}></label></td>
									<td>Allows a user to upload an image</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="32" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 32}}checked{{end}}></label></td>
									<td>Allows a user to remove an uploaded image. (Note that we can short circuit this in other code to allow a user to remove their own images)</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="64" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 64}}checked{{end}}></label></td>
									<td>Allows a user to disable another user</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="128" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 128}}checked{{end}}></label></td>
									<td>Allows a user to edit permissions of another user</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="256" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 256}}checked{{end}}></label></td>
									<td>BulkTagOperations</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="512" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 512}}checked{{end}}></label></td>
									<td>Set score on images</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="1024" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 1024}}checked{{end}}></label></td>
									<td>Set source on images</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="2048" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 2048}}checked{{end}}></label></td>
									<td>Create Collections</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="4096" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 4096}}checked{{end}}></label></td>
									<td>Modify Collections</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="8192" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 8192}}checked{{end}}></label></td>
									<td>Delete Collections</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="16384" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 16384}}checked{{end}}></label></td>
									<td>Add/Remove members to/from Collections</td>
								</tr>
								<tr>
									<td><label><input type="checkbox" name="permCheckbox" value="32768" onchange="UpdatePermissionBox();" {{if .ModUserData.Permissions.HasPermission 32768}}checked{{end}}></label></td>
									<td>API Access</td>
								</tr>
							</table>
							<input type="hidden" name="command" value="editUserPerms" />
							<input type="submit" value="Update" />
							<h5>Reference</h5>
							<p>From the table above, select the permissions you want to grant. Their corresponding numbers will be added together to get your final permission. Example: Upload(16) + Tag Image(1) = 17</p>
							<p>Note that this server is set to {{if .UserControlsOwn}}allow users to modify their own contributions without explicit permissions.{{else}}require users to have explicit permission to modify any contribution.{{end}} 
								If a user is allowed to modify their own contributions without explicit permission, they can do things like, change the source or rating of their own uploads, add/remove members to/from their 
								own collections or delete their own contributions; all without explicit score/delete/etc permissions. They cannot perform these functions on things they did not directly contribute however.</p>
						</form>
						{{end}}
					{{else}}
					<p>This page is for moderators.</p>
					{{end}}
				</div>
			</div>
		</div>
{{template "footer.html" .}}