{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			{{$PermissionQ := .UserPermissions.HasPermission 4}}
			{{$PermissionD := .UserPermissions.HasPermission 8}}
			{{$PermissionBulkTag := .UserPermissions.HasPermission 256}}
			{{$IsOwn := eq .TagContentInfo.UploaderID .UserID}}
			{{$CanModifyOwn := and .UserControlsOwn $IsOwn}}
			<div id="SideMenu" class="cellDefaultHidden">
				{{template "mainSearchForm.html" .}}

				<h5>Commands</h5>
				{{if or $PermissionQ $CanModifyOwn}}
				<a href="#" onclick="return (ToggleFormDisplay('changeTagForm') & ToggleFormDisplay('tagData'));">Modify Tag</a><br>
				{{end}}
				{{if or $PermissionD $CanModifyOwn}}
				<a href="/tag?command=delete&ID={{.TagContentInfo.ID}}&SearchTerms={{.OldQuery}}" onclick="return confirm('Are you sure you want to delete this tag?');">Delete Tag</a><br>
				{{end}}
				{{if and $PermissionQ $PermissionBulkTag}}
				<a href="#" onclick="return ToggleFormDisplay('replaceTagForm');">Replace Tag</a><br>
				<a href="#" onclick="return ToggleFormDisplay('bulkAddTagForm');">Bulk Add Tag</a><br>
				{{end}}
			</div>
			<div id="ImageGridContainer">
				<div class="narrowCenteredContainer">
					<form method="post" action="/tag" id="changeTagForm" class="displayHidden">
						<h4>Update {{.TagContentInfo.Name}} <img src="/resources/{{if .TagContentInfo.IsAlias}}alias.svg" alt="alias"{{else}}tag.svg" alt="tag"{{end}}class="icon" /></h4>
						<label>Tag Name</label>
						<input type="text" name="tagName" value="{{.TagContentInfo.Name}}" placeholder="Name"/><br>
						<label>Tag Description</label>
						<input type="text" name="tagDescription" value="{{.TagContentInfo.Description}}" placeholder="Description"/><br>
						<label>Aliased Tag</label>
						<input type="text" name="aliasedTagName" value="{{.AliasTagInfo.Name}}" placeholder="Aliased Name"/><br>
						<input type="hidden" name="ID" value="{{.TagContentInfo.ID}}" />
						<input type="hidden" name="command" value="updateTag" />
						<input type="submit" value="Update" />
					</form>
					<form method="post" action="/tag" id="replaceTagForm" class="displayHidden">
						<h4>Replace a Tag</h4>
						<label>Tag to Replace</label>
						<input type="text" name="tagName" value="" placeholder="Tag to Replace"/><br>
						<label>Replacing Tag</label>
						<input type="text" name="newTagName" value="{{.TagContentInfo.Name}}" placeholder="Replace Tag With"/><br>
						<input type="hidden" name="command" value="replaceTag" />
						<input type="submit" value="Replace" />
					</form>
					<form method="post" action="/tag" id="bulkAddTagForm" class="displayHidden">
						<h4>Add Tag to Images with a Tag</h4>
						<label>Add this Tag</label>
						<input type="text" name="newTagName" value="" placeholder="Tag to Add"/><br>
						<label>To images with this Tag</label>
						<input type="text" name="tagName" value="{{.TagContentInfo.Name}}" placeholder="To Images with this Tag"/><br>
						<input type="hidden" name="command" value="bulkAddTag" />
						<input type="submit" value="Bulk Add" />
					</form>
					<div id="tagData">
						<h4>{{.TagContentInfo.Name}} <a href="/images?SearchTerms={{.TagContentInfo.Name}}"><img src="/resources/searchicon.svg" class="icon" /></a></h4>
						{{.TagContentInfo.Description}}<br>
						{{if .TagContentInfo.IsAlias}}
						This tag is an alias of <a href="/tag?ID={{.AliasTagInfo.ID}}">{{.AliasTagInfo.Name}}</a> which is used {{.AliasTagInfo.UseCount}} time(s)
						{{else}}
						This tag is used {{.TagContentInfo.UseCount}} time(s)
						{{end}}
					</div>
				</div>
			</div>
		</div>
{{template "footer.html" .}}