{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				<form action="/images" method="post">
					<input type="text" name="SearchTerms" placeholder="Search" value="{{.OldQuery}}">
					<input type="submit" value="Go">
				</form>
			</div>
			<div id="ImageGridContainer">
				<form id="filterForm">
					<input type="text" name="query" placeholder="Tags containing">
					<input type="submit" value="Filter Table" OnClick="return SearchTagTable('tagTable','filterForm');">
				</form>
				<table class="narrowCenteredContainer" id="tagTable">
					<tr>
						<th style="width:25%;">Name</th>
						<th style="width:1em;"></th>
						<th>Description</th>
					</tr>
					{{range .Tags}}
					<tr>
						<td class="noBreak"><a href="/tag?ID={{.ID}}"><img src="/resources/{{if .IsAlias}}alias.svg" alt="alias"{{else}}tag.svg" alt="tag"{{end}}class="icon" /> {{.Name}}</a></td>
						<td><a href="/images?SearchTerms={{.Name}}"><img src="/resources/searchicon.svg" class="icon" /></a></td>
						<td>{{.Description}}</td>
					</tr>
					{{end}}
				</table> 
			</div>
		</div>
{{template "footer.html" .}}