{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			<div id="SideMenu" class="cellDefaultHidden">
				<form action="/images" method="post">
					<input type="text" name="SearchTerms" placeholder="Search" value="{{.OldQuery}}">
					<input type="submit" value="Go">
				</form>
			</div>
			<div id="ImageGridContainer">
				<div class="narrowCenteredContainer">
					{{if eq .UserName ""}}
						<p>You must be logged in, in order to upload files.</p>
					{{else}}
					<form action="/image" enctype="multipart/form-data" method="post">
						<label>File(s)</label><input type="file" name="fileToUpload" multiple="multiple"/><br>
						<label>Tags</label>
						<input type="text" name="SearchTerms" placeholder="Tags for the new image(s)" value="{{.OldQuery}}">
						<input type="hidden" name="uploadFile" value="true" /><br>
						<input type="submit" value="Upload">
					</form>
					{{end}}
				</div>
			</div>
		</div>
{{template "footer.html" .}}